.title {
	text-align: center;
	font-family: 'Sans Seirf';
	color: #FFFFFF;
}

a { color:inherit;
  text-decoration: none;}

.link {
	text-align: center;
	font-family: 'Tahoma';
	color: #FFFFFF;
}

.link a{
			    color:white;
		text-shadow: 0px 0px #00000077;
    transition: color 1s, text-shadow 1s;
}

body {
	 background-image: url('stageback.png');
}

marquee {
    margin: auto;
    text-align: center;
    display: inline-block;
		text-align: center;
	font-family: 'Arial';
	color: #FFFFFF;
}

.construction {
	text-align: center;
}

